h1 {
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.111111px;
  font-size: 2rem;
  font-weight: bold;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-auto-rows: 250px;
  grid-gap: 2rem;
}